h1
{
    color:deeppink;
    font-family:fantasy;
    font-size: 25pt;
}

body
{
    background-color:aquamarine;
}

a
{
    text-decoration:none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
    color: darkred;
    padding-right: 50px;
}